<h2>Breweries</h2>

<table id="brewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="name">Name</a> </th>
    <th> <a href="#" id="year">Year</a> </th>
    <th> <a href="#" id="number">Beers</a> </th>
    <th> <a href="#" id="active">Active</a> </th>    
  </tr>
</table>